body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin :0;
}

main {
    display: flex;
    justify-content: center;
    transform: translateX(-50px);
}

.row{
    display: flex;
}

.board{
    margin: 5px;
    position: relative;
}

.box{
    height: 40px;
    width: 40px;
    background-color: #0076fd;
    border: 1px solid rgba(0, 0, 0, 0.747);
    border-radius: 5px;
    /* transition: all 0.1s ease-in-out; */
}

#r0 {
    border-bottom: 2px dotted red;
}

.scoreBoard {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    margin: 5px;
    border-radius: 10px;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.innerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 119, 119);
    border-radius: 20px;
    height: 100px;
    width: 200px;
    overflow: hidden;
    padding: 10px;
}

.innerBox button {
    background-color: rgb(73, 92, 255);
    border: none;
    box-shadow: 2px 2px 10px 0px black;
    height: 50px;
    width: 80px;
    border-radius: 40px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    color: wheat;
    transition: inherit;
}

.innerBox button:hover {
    transform: scale(1.1);
}

.gameOver {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 0;
    overflow: hidden;

    transition: height 1s ease;
}

.pop.gameOver {
    height: 100vh;
}